.feedback-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; 
    border: solid 1px black; 
}
/* .done {
    border: solid 1px black;
} */
.feedback-display {
    border: solid 1px black; 
    display: flex; 
    flex-direction: column; 
}
