button {
    font-size: 25px;
}

label {
    color: cornsilk;
}

.App {
    margin: 50px;
    text-align: center;
    /* background-color: rgba(226, 187, 136, 0.5); */
    background-color: rgba(255, 255, 255, .7); 
    /* background-size: 100%; */
    /* background-image: url('./images/pascal-meier-sqCv-PjKOY8-unsplash.jpg');
    background-size: cover; 
    width: auto;   */
    height: 50%vh; 

}


.App-header {
    padding: 2px 0 2px 0;
    background-color: burlywood;
    box-shadow:rgb(99, 99, 99) 0px 2px 5px 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3em;
}

#userName {
    padding: 7px;
    font-size: 18px;
}

#userPassword {
    padding: 7px;
    font-size: 18px;
}