body {
    /* background-image: url('./images/pascal-meier-sqCv-PjKOY8-unsplash.jpg');  */
    background-color: linear-gradient();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;    
}
html {
    height: 100vh; 
}
.hero {
    font-size: 100px; 
    padding: 10px;
    text-align: center;
    position: relative;   
}
.x {
    text-align: center;
}
.main {
    background-color: lightblue;
    margin: 150px;
    border-radius: 10px; 
}
/* components css  */
#login-wrapper {
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    align-items: center; 
    border: solid 1px lightblue;
    margin: 30px;
    padding: 30px;   
}
#signup-wrapper {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid 1px lightblue; 
    margin: 10px; 
}
label {
    margin: 5px; 
}
input {
    margin: 5px; 
    border-radius: 5px; 
}
.login-btn {
    margin: 5px; 
    background-color: lightgreen;
    border-radius: 5px;  
}
.about {
    font-size: 24px;
    display: flex; 
    /* flex-flow: ; */
    flex-basis: 100px;   
}
p {
    margin: 40px; 
    padding: 10px;
    margin-right: 70px;  
}
.malcom {
    margin: 40px; 
    padding: 30px; 
}